<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo-navbar">
    <%= link_to home_path do  %>
      <%= image_tag 'ak-logo-white.png' %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'PRESTATIONS', services_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'TARIFS', prices_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'CONTACT', new_contact_path %>
      </li>
      <li class="nav-item">
        <%= link_to "LIVRE D'OR / CLIENTS", clients_path %>
      </li>
    </ul>
  </div>
</div>

